/* styles.css */

* {
	font-family: Arial;
}

/* IMG SLIDE SHOW START */
.slider {
	position: relative;
	width: 100%;
	height: 70vh;
	overflow: hidden;
}

.slide {
	position: relative;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.06s ease;
}

.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slide.active {
	opacity: 1;
}

button.prev, button.next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
}

button.prev {
	left: 10px;
}
button.next {
	right: 10px;
}
/* IMG SLIDE SHOW END */

/* SIDE NAGIVATIOIN START */
.sidenav {
	height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
/* SIDE NAV END */
